<div class="notes" fxLayout="column">
  <mat-card>
      <mat-card-header>
          <mat-card-title><h5 style="color: #ff8888; text-transform: uppercase; margin: 1px"><b>Welcome to RAU, Daniel</b></h5></mat-card-title>
          <mat-card-subtitle>support@respectedau.com</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
         <p style="color: rgba(0,0,0,.5)"> A warm welcome to you daniel mercy, we've prepared your account for you, please click on the make starter payment to recieve 
            a link via your email to where you will fill your credit/debit card information  to make the payment.</p>

            <b>09 Fri, 2018 11:50</b>
      </mat-card-content>
  </mat-card>
</div>