<header>
    <div class="container">
        <app-nav></app-nav>
        <div class="header-content-container">
            <div class="content">
                <div class="section title">
                    <h6>03</h6>
                    <span class="stroke long"></span>
                    <h1>Contact Us</h1>
                </div>

                <input type="text" name="name" id="" placeholder="Name">
                <input type="email" name="email" id="" placeholder="Email">
                <textarea name="description" id="" cols="30" rows="10" placeholder="message"></textarea>
            </div>

            <button class="button">
                <a href="#">Send</a>
            </button>
        </div>
    </div>
</header>
