$base-colr: #FFFFFF;
$primary: #707070;
$accent: #FF8888;
$secondary: #FFE920;
$overlay-colr: #E5E5E5;
$hc-width: calc(100vw * 0.8);
$sc-width: calc(100vw * 0.7);
$box-width: calc(100vw * 0.4);
$base-gap: 28px;




