<header>
  <div class="container">
      <app-nav></app-nav>
      <div class="header-content-container">
          <div class="content">
              <div class="section title">
                  <h6>02</h6>
                  <span class="stroke long"></span>
                  <h1>Success Stories</h1>
              </div>

              <div class="info">
                  <p> Respected Au pairs Agency serves families all over the country. The backbone of our
                        team are the local area directors who assist au paors and host families through their
                        program years. Hear from an Area Directors about the cultural exchange experience she's
                        sharing with au pairs in her region
                        
                        --- The year is 2016, the city is Grand Rapids, Michigan. The once so-called "dying city"
                        has been stage for ArtPrize, an incredible internationall art competition for the last 8
                        years. Grand Rapidians and all Michiganders are very proud of this event, and they should
                        be! It is unlike anythingthat has ever been seen. For 19 days the whole downtown area is
                        covered with all diffent types of art. Recently the west Michigan au pairs experienced ArtPrize
                        for themselves and they were very impressed! After watching "The Wizard of OZomeness" which was
                        a superb street dance interpretation of the wizard of Oz, the group visited a few other places, 
                        stopped at Grand Rapid's famous Blue Bridge for pictures and enjoyed great food at local restaurant.
                        it was a fantastic time for bonding, laughter and many memories.
                        
                        Several business in the area welcome artists into their spaces and become indoor venues for sculptures,
                        paintings, live performances, but there is also plenty to see outdoors. There is a surprise in every corner
                        and it is all completely free. Even the Museums that do not have ArtPrize pieces inside have lowered their admission
                        fees during this time.
                        
                        
                        As an Area Director, Watching the au pairs be so helpful and kind to each other is one of my favorite parts of the job
                        .seeing cultural events like ArtPrize through their eyes is another special perk. it brings back wonderful feelings from the time 
                        when i was an pair myself.
                        
                        RAA helps is an Area Director in Grand Rapids Michigan. For more information about RAA programs in western michigan you can reach at
                        respectedaupairsagency@usa.com
                        www.respectedaupairagency.com
                        </p>
              </div>
          </div>

          <div class="sub section title ">
              <h6>02</h6>
              <span class="stroke short"></span>
              <h3>Testimonies</h3>
          </div>
      </div>
  </div>
</header>

<section id="testimony1">
  <div class="container">
      <div class="flex left">
          <div class="image box"></div>

          <div class="content showcase">
              <div class="title">
                  <h3>Au pairs gives back across the country</h3>
                  <span class="stroke short"></span>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam laborum fugit culpa voluptatum amet sint saepe, ratione deserunt inventore at sed placeat ipsum commodi vitae architecto sit enim vero atque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam laborum fugit culpa voluptatum amet sint saepe, ratione deserunt inventore at sed placeat ipsum commodi vitae architecto sit enim vero atque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam laborum fugit culpa voluptatum amet sint saepe, ratione deserunt inventore at sed placeat ipsum commodi vitae architecto sit enim vero atque!</p>
              </div>
          </div>
      </div>
  </div>
</section>

<section id="testimony2">
  <div class="container">
      <div class="flex right">
          <div class="image box"></div>

          <div class="content showcase">
              <div class="title">
                  <h3>Westchester au pairs and larchmontmamaroneck hunger task force</h3>
                  <span class="stroke short"></span>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam laborum fugit culpa voluptatum amet sint saepe, ratione deserunt inventore at sed placeat ipsum commodi vitae architecto sit enim vero atque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam laborum fugit culpa voluptatum amet sint saepe, ratione deserunt inventore at sed placeat ipsum commodi vitae architecto sit enim vero atque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam laborum fugit culpa voluptatum amet sint saepe, ratione deserunt inventore at sed placeat ipsum commodi vitae architecto sit enim vero atque!</p>
              </div>
          </div>
      </div>
  </div>
</section>

<section id="testimony3">
  <div class="container">
      <div class="flex left">
          <div class="image box"></div>

          <div class="content showcase">
              <div class="title">
                  <h3>issaquah respected au pairs agency knit for eastside baby corner</h3>
                  <span class="stroke short"></span>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam laborum fugit culpa voluptatum amet sint saepe, ratione deserunt inventore at sed placeat ipsum commodi vitae architecto sit enim vero atque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam laborum fugit culpa voluptatum amet sint saepe, ratione deserunt inventore at sed placeat ipsum commodi vitae architecto sit enim vero atque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam laborum fugit culpa voluptatum amet sint saepe, ratione deserunt inventore at sed placeat ipsum commodi vitae architecto sit enim vero atque!</p>
              </div>
          </div>
      </div>
  </div>
</section>

<section id="testimony4">
  <div class="container">
      <div class="flex right">
          <div class="image box"></div>

          <div class="content showcase">
              <div class="title">
                  <h3>The respected au pair agency</h3>
                  <span class="stroke short"></span>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam laborum fugit culpa voluptatum amet sint saepe, ratione deserunt inventore at sed placeat ipsum commodi vitae architecto sit enim vero atque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam laborum fugit culpa voluptatum amet sint saepe, ratione deserunt inventore at sed placeat ipsum commodi vitae architecto sit enim vero atque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam laborum fugit culpa voluptatum amet sint saepe, ratione deserunt inventore at sed placeat ipsum commodi vitae architecto sit enim vero atque!</p>
              </div>
          </div>
      </div>
  </div>
</section>

<app-footer></app-footer>