<header>
    <div class="container">
        <app-nav></app-nav>
        <div class="header-content-container">
            <div class="content">
                <div class="section title">
                    <h6>01</h6>
                    <span class="stroke long"></span>
                    <h1>Our Services</h1>
                </div>

                <div class="info">
                    <p> Au pairs primarily look after children of their host families. Additionally,
                        they help you eith light child related housework, such as washing their clothes
                        or helping them tidying up their rooms. You should discuss your au pair's exact
                        duties well in advance and include them in your written au pair contract.
                            
                        Concerning the other Jobs like chef, security, guard, Driver, Home attendance,
                        you will have to do the same duties or the duties instructed by the host family
                            
                        For registration as a member, <b>it will only cost you a $500USD</b> and it is mandatory
                        and compulsory that the employees pays this and not the host famiy, what a host
                        family does is to sponsor your trips (Flight ticket and Visa), we shall also
                        process your WORK PERMIT and every other necessary things.
                            </p>
                </div>
            </div>

            <div class="sub section title ">
                <h6>01</h6>
                <span class="stroke short"></span>
                <h3>Our Services</h3>
            </div>
        </div>
    </div>
</header>

<section id="service1">
    <div class="container">
        <div class="flex left">
            <div class="image"></div>

            <div class="content showcase">
                <div class="title">
                    <h3>Pocket Money</h3>
                    <span class="stroke short"></span>
                    <p>In return for their help, au pairs receive pocket money from their host families
                        on a weekly basis, Au pairs are entitled to the minimum wage in United states. The
                        current minimum wage after tax per month is a $3,700USD monthly and $300USD per week.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service2">
    <div class="container">
        <div class="flex right">
            <div class="image"></div>

            <div class="content showcase">
                <div class="title">
                    <h3>Board and Loding</h3>
                    <span class="stroke short"></span>
                    <p>During their entire stay, your au pairs lives in you home and are entitled to a
                        private furnished bedroom and free access to meals. This also applies in case of 
                        illness and during the au pair's holidays.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>