.sidenav-container {
    height: 100vh;
}
  
.sidenav {
    max-width: 220px;
    width: 100%;
    // box-shadow: 3px 0 6px rgba(0,0,0,.24);

    div.header {
        //https://trianglify.io/p/w:500!h:500!x:ff8888.ffcd9d.ebcf9f.ff8888.ff8888.00a388!v:0.958!c:0.131!s:0.16409116383384625
        background-size: cover;
        color: white;
        padding: 12px;
        padding-bottom: 6px;
    }
}

.sidenav.notifications {
    max-width: 300px;
}

.nav.header {
    background: url('../../../assets/images/user-bg.png');
}
.notify.header {
    background: #ff8888;
}

.toolbar {
    box-shadow: -1px 0 16px 1px rgba(0, 0, 0, 0.31);
}

mat-nav-list {
    color: #ff8888;
}
.matNavIcon {
    color: #ff8888;
}
  